#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 > #backgroundBox {
  position: absolute;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 667.0px;
  width: 100%;
  height: 100%;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Rectangle_1 {
  position: absolute;
  width: 100.0%;
  min-height: 100.0%;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Rectangle_1 {
  box-shadow: none;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#9CEFE1,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#9CEFE1,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#9CEFE1), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#9CEFE1,#E6E6E6);
  background-image: linear-gradient(to bottom,#9CEFE1,#E6E6E6);
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Rectangle_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 18px;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #404040;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-logo {
  position: absolute;
  width: 159.9999999999999px;
  height: 160.00000000000003px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-logo {
  box-shadow: none;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Loading {
  position: absolute;
  width: 35.0px;
  height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Loading {
  box-shadow: none;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Label_40 {
  position: absolute;
  width: 78.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Label_40 {
  box-shadow: none;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Label_40 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Label_40 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Label_40 span#rtr-s-Label_40_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_43 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_43 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_43 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Ellipse_43 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Ellipse_43 {
  box-shadow: none;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_43 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_43 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_43 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_43 span#rtr-s-Ellipse_43_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_44 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_44 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_44 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Ellipse_44 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Ellipse_44 {
  box-shadow: none;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_44 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_44 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_44 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_44 span#rtr-s-Ellipse_44_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_45 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_45 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_45 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Ellipse_45 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Ellipse_45 {
  box-shadow: none;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_45 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_45 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_45 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_45 span#rtr-s-Ellipse_45_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_46 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_46 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_46 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Ellipse_46 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Ellipse_46 {
  box-shadow: none;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_46 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_46 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_46 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_46 span#rtr-s-Ellipse_46_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_47 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_47 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_47 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Ellipse_47 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Ellipse_47 {
  box-shadow: none;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_47 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_47 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_47 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #shapewrapper-s-Ellipse_47 span#rtr-s-Ellipse_47_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Label_62 {
  position: absolute;
  width: 50.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Label_62 {
  box-shadow: none;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Label_62 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Label_62 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Label_62 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Label_62 span#rtr-s-Label_62_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Image_50 {
  position: absolute;
  width: 25.0px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Image_50 {
  box-shadow: none;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Image_51 {
  position: absolute;
  width: 14.0px;
  height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Image_51 {
  box-shadow: none;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Image_52 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 #s-Image_52 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-4efd4e77-7c4d-4961-8e0c-8919c8bd3834 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
