#s-79b21577-b9b1-4b12-8742-11a7dde1989f > #backgroundBox {
  background-color: transparent;
  background-image: -moz-linear-gradient(top,#9CEFE1,#E6E6E6);
  background-image: -webkit-linear-gradient(top,#9CEFE1,#E6E6E6);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#9CEFE1), color-stop(100%,#E6E6E6));
  background-image: -o-linear-gradient(top,#9CEFE1,#E6E6E6);
  background-image: linear-gradient(to bottom,#9CEFE1,#E6E6E6);
  position: absolute;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f > #alignmentBox {
  position: relative;
  max-width: 375.0px;
  max-height: 667.0px;
  width: 100%;
  height: 100%;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_3 {
  position: absolute;
  width: 336.9999975px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: -0.0px -0.0px 15px #0A0A0A;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_3 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_3 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_3 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.7;
  background-image: url('../../images/7ae5bf50-e976-4342-afd6-7bde7cacb1b1.jpg');
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_3 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_3 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_8 {
  position: absolute;
  width: 336.9999975px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: -0.0px -0.0px 15px #0A0A0A;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_8 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_8 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_8 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.7;
  background-image: url('../../images/20cbc3d0-f65d-411d-ab5d-bc363f2b991e.jpg');
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_8 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_8 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_9 {
  position: absolute;
  width: 336.9999975px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: -0.0px -0.0px 15px #0A0A0A;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_9 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_9 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_9 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.7;
  background-image: url('../../images/6bca0a9a-3a4e-4aba-859a-2b85700a7d72.jpg');
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_9 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_9 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_10 {
  position: absolute;
  width: 336.9999975px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: -0.0px -0.0px 15px #0A0A0A;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_10 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_10 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_10 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.7;
  background-image: url('../../images/59719c45-71a9-44b8-9597-31d261cafa73.jpg');
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_10 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_10 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_5 {
  position: absolute;
  width: 336.9999975px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: -0.0px -0.0px 15px #0A0A0A;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_5 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_5 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_5 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.7;
  background-image: url('../../images/59719c45-71a9-44b8-9597-31d261cafa73.jpg');
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_5 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_5 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_6 {
  position: absolute;
  width: 336.9999975px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: -0.0px -0.0px 15px #0A0A0A;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_6 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_6 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_6 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.7;
  background-image: url('../../images/6bca0a9a-3a4e-4aba-859a-2b85700a7d72.jpg');
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_6 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_6 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_7 {
  position: absolute;
  width: 336.9999975px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: -0.0px -0.0px 15px #0A0A0A;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_7 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_7 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_7 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.7;
  background-image: url('../../images/59719c45-71a9-44b8-9597-31d261cafa73.jpg');
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_7 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_7 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_7 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_4 {
  position: absolute;
  width: 336.9999975px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: -0.0px -0.0px 15px #0A0A0A;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_4 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_4 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_4 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.7;
  background-image: url('../../images/eead59fc-203c-4b2e-b0c1-a5076271e0e3.jpg');
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_4 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_4 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_11 {
  position: absolute;
  width: 336.9999975px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: -0.0px -0.0px 15px #0A0A0A;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_11 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_11 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_11 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.7;
  background-image: url('../../images/59719c45-71a9-44b8-9597-31d261cafa73.jpg');
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_11 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_11 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_11 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_12 {
  position: absolute;
  width: 336.9999975px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: -0.0px -0.0px 15px #0A0A0A;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_12 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_12 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_12 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.7;
  background-image: url('../../images/6bca0a9a-3a4e-4aba-859a-2b85700a7d72.jpg');
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_12 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_12 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_13 {
  position: absolute;
  width: 336.9999975px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: -0.0px -0.0px 15px #0A0A0A;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_13 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_13 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_13 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.7;
  background-image: url('../../images/59719c45-71a9-44b8-9597-31d261cafa73.jpg');
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_13 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_13 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_13 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_14 {
  position: absolute;
  width: 336.9999975px;
  min-height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: -0.0px -0.0px 15px #0A0A0A;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_14 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_14 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_14 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_14 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: cover;
  opacity: 0.7;
  background-image: url('../../images/eead59fc-203c-4b2e-b0c1-a5076271e0e3.jpg');
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_14 > .borderLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_14 > .backgroundLayer {
  border-radius: 25px 25px 25px 25px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_14 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Paragraph_1 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Paragraph_1 span {
  color: #252525;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #252525;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Label_40 {
  position: absolute;
  width: 78.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Label_40 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Label_40 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Label_40 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Label_40 span#rtr-s-Label_40_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_43 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_43 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_43 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Ellipse_43 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Ellipse_43 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_43 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_43 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_43 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_43 span#rtr-s-Ellipse_43_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_44 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_44 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_44 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Ellipse_44 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Ellipse_44 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_44 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_44 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_44 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_44 span#rtr-s-Ellipse_44_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_45 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_45 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_45 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Ellipse_45 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Ellipse_45 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_45 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_45 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_45 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_45 span#rtr-s-Ellipse_45_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_46 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_46 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_46 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Ellipse_46 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Ellipse_46 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_46 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_46 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_46 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_46 span#rtr-s-Ellipse_46_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_47 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_47 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Roboto-Bold',Arial;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_47 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Ellipse_47 {
  width: 6.0px;
  height: 6.0px;
  min-height: 6.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Ellipse_47 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_47 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_47 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_47 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #shapewrapper-s-Ellipse_47 span#rtr-s-Ellipse_47_0 {
  color: #1174C1;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Label_62 {
  position: absolute;
  width: 50.0px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Label_62 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Label_62 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Label_62 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Label_62 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Label_62 span#rtr-s-Label_62_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_50 {
  position: absolute;
  width: 25.0px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_50 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_51 {
  position: absolute;
  width: 14.0px;
  height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_51 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_52 {
  position: absolute;
  width: 18.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_52 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_2 {
  position: absolute;
  width: 375.00000763289694px;
  min-height: 69.27830506793089px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_2 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFE07D;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_2 {
  position: absolute;
  width: 40.45778207175988px;
  height: 40.797224095559386px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_2 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_1 {
  position: absolute;
  width: 40.45778207176008px;
  height: 40.79722409555916px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_1 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_3 {
  position: absolute;
  width: 40.45778207175985px;
  height: 40.797224095559386px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_3 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_4 {
  position: absolute;
  width: 40.45778207175985px;
  height: 40.79722409555927px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_4 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Search_1 {
  position: absolute;
  width: 89.86666666666666%;
  height: 39.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Search_1 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Cell_3 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Cell_3 .verticalalign {
  vertical-align: middle;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Cell_3 .borderLayer {
  border-left-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Cell_3 {
  width: 100.0%;
  height: 100.0%;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Input_5 input::-webkit-input-placeholder {
  color: #626262;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Input_5 input::-moz-placeholder {
  color: #626262;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Input_5 input:-moz-placeholder {
  color: #626262;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Input_5 input:-ms-input-placeholder {
  color: #626262;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Input_5 {
  position: absolute;
  width: 100.20986358866735%;
  height: 36.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Input_5 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Input_5 .valign {
  vertical-align: middle;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Input_5 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 12.0pt;
  text-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Input_5 > .backgroundLayer {
  border-radius: 18px 18px 18px 18px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Input_5 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Input_5 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #E7E7E7;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E7E7E7;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E7E7E7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E7E7E7;
  border-radius: 18px 18px 18px 18px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Input_5 > .backgroundLayer {
  border-radius: 18px 18px 18px 18px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Input_5 .paddingLayer:first-child {
  padding-top: 6px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_36 {
  position: absolute;
  width: 12.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_36 {
  box-shadow: none;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_27 {
  position: absolute;
  width: 15.0px;
  height: 14.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-79b21577-b9b1-4b12-8742-11a7dde1989f #s-Image_27 {
  box-shadow: none;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-79b21577-b9b1-4b12-8742-11a7dde1989f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
